---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
---

<script>
	const words = ["Software Developer", "CS Student",  "Tech Enthusiast"];
	const wordElement = document.getElementById('word');
	let i = 0;
	let timer;
	

    function typingEffect() {
		let word = words[i].split("");
		var loopTyping = function() {
			if (word.length > 0) {
				if (wordElement) {
  					wordElement.innerHTML += word.shift();
				}
	  		} else {
				setTimeout(() => deletingEffect(), 1500);
				return false;
	  		};
		timer = setTimeout(loopTyping, 25);
		};
		loopTyping();
  	};

  	function deletingEffect() {
	  	let word = words[i].split("");
	 	var loopDeleting = function() {
			if (word.length > 0) {
				word.pop();
				if (wordElement) {
					wordElement.innerHTML = word.join("");
				}
		  	} else {
			 	if (words.length > (i + 1)) {
					i++;
			  	} else {
					i = 0;
			  	};
				typingEffect();
				return false;
		  		};
		  	timer = setTimeout(loopDeleting, 25);
	  	};
	  	loopDeleting();
  	};
	typingEffect();

	let ageElement = document.getElementById("age");

    setInterval(() => {
    	let time = (Date.now() - (new Date('02/02/2004')).getTime()) / (1000 * 60 * 60 * 24 * 365.242199); // milliseconds per year
    	if (ageElement) {
    		ageElement.innerText = time.toString().substring(0, 12);
		}
    }, 50);
	
	/*
	document.addEventListener("DOMContentLoaded", function () {
    	const username = 'Fizzled04';
    	const apiUrl = `https://api.github.com/users/${username}/repos`;
		const commitElement = document.getElementById('commitCount');

    	fetch(apiUrl)
    	    .then(response => response.json())
    	    .then(repos => {
    	        let totalCommits = 0;
    	        repos.forEach((repo: { size: number }) => {
				 	totalCommits += repo.size;
				});
				if(commitElement){
    	        	commitElement.textContent = totalCommits.toString();
				}
    	    })
    	    .catch(error => {
    	        console.error('Error fetching GitHub commits:', error);
    	    });
	});
	*/

	const leetcodeUsername = "Fizzled";
	const leetcodeElement = document.getElementById('leetcodeSolved');
	fetch(`https://leetcode-stats-api.herokuapp.com/${leetcodeUsername}`)
		.then((response) => response.json())
		.then((data) => {
			const totalSolved = data.totalSolved;
			if(leetcodeElement){
    			leetcodeElement.textContent = ` ${totalSolved}`;
			}
		})
		.catch((error) => {
			console.error("Error fetching LeetCode data:", error);
		});


	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			console.log(entry)
			if (entry.isIntersecting) {
				entry.target.classList.add('show');
			} else {
				entry.target.classList.remove('show')
			}
		});
	});

	const hiddenElements = document.querySelectorAll('.hidden');
	hiddenElements.forEach((el) => observer.observe(el))

	const section = document.getElementById('projects');

 	function adjustSectionHeight() {
		const section = document.getElementById('projects');
    	if (section) {
    	    section.style.height = 'auto';
    	    const contentHeight = section.scrollHeight;
    	    section.style.height = contentHeight + 'px';
    }
 	}

 	adjustSectionHeight();
 	window.addEventListener('resize', adjustSectionHeight);
</script>

<Layout title="Fizzled Software Developement and More">
	<Navigation/>
	<section id="home">
		<div style="display:flex; justify-content:center; align-items:center; height:calc(100vh - 6.25rem)">
			<h1>
				<div style="color: #102542">
					Hey, I'm Cody.
				</div>
				<div style="color: #102542">
					I'm a&nbsp;<span id="word" style ="color:#d04f1c"></span><span>|</span>
				</div>
			</h1>
		</div>
	</section>
	<section id="about">
		<h2 id="about-heading" class="hidden">
			About
		</h2>
		<div id="about-content">
			<div id="profile-content" class="hidden">
				<svg class="profile-svg" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200">
					<image xlink:href="profile.svg" width="100%" height="100%" />
				</svg>
				<div id="about-text">
					I'm an aspiring software developer with a love of problem solving. I frequently take on projects that push the boundaries of my knowledge to further develop my abilities as a programmer. My goal with every project I take on is to produce not only an effective product but one that is enjoyable for the end user as well, this website included. If I'm not programming, I'm most likely playing video games, doing school work, or hanging out with my dogs. 
				</div>
			</div>
			<div id="spacer"/>
			<div class="about-container">
				<ul class="about-list">
					<li>I am <span id=age style ="color:#DE541E"></span> years old</li>
					<li>Check out <span id="commitCount" style ="color:#DE541E">my </span><a href="https://github.com/Fizzled04" rel="noopener">Github</a></li>
					<!-- <li><span id="leetcodeSolved" style ="color:#DE541E"></span> <a href="https://leetcode.com/Fizzled/" rel="noopener">Leetcode</a> problems solved</li> --> 
				</ul>
			</div>
		</div>
	</section>
	<section id="projects">
		<h2 id="project-heading" class="hidden">
			Projects
		</h2>
		<div class="project">
			<div class="project project-item-left">
				<div class="project-image-container-left">
					<img class="hidden" src="fizz.jpg" alt="Fizz in use.">
				</div>
				<div class="project-text-container-left">
					<div class="project-title">
						Fizz
						<span class="technologies">
							python | discord.py 
						</span>
					</div>
					<div class="project-text">
						Fizz is a user-oriented, open-source Discord bot that acts as a virtual casino. It was created based on a bot I had made in high school, which was a multipurpose bot featuring various niche features. I decided to take this bot and focus on the gambling aspect, creating a handful of classic casino games such as Slots, Blackjack, and Coinflipping. This came at the expense of removing features such as Reddit searching and chat interaction, but I believe this allowed me to produce a greater, more focused end product for users.
					</div>
					<a class="project-button" href="https://discord.com/oauth2/authorize?client_id=1242149263950090342" rel="noopener">
						Invite
					</a>
					<a class="project-button" href="https://github.com/Fizzled04/discord-fizz" rel="noopener">
						Github
					</a>
				</div>
			</div>
		</div>
		<div class="project-right">
			<div class="project project-item-right">
				<div class="project-text-container-right">
					<div class="project-title">
						Otenba Style
						<span class="technologies">
							HTML | CSS | javascript | Astro | Svelte.js
						</span>
					</div>
					<div class="project-text">
						The Otenba Style website was a project I was hired on as a freelancer to create, I was granted permission to share the project here(no source code for obvious reasons). The website acts as a user friendly way to be introduced to the business and their works along with the pricing of said works. The website assisted in generating over $5,000 of sales within the first couple weeks of launching.
					</div>
					<a class="project-button" href="https:/otenba.style" rel="noopener">
						Live Version
					</a>

				</div>
				<div class="project-image-container-right">
					<img class="hidden" src="otenba.jpg" alt="Temp photo until I have some projects">
				</div>
			</div>
		</div>
	</div>
	<div class="project">
		<div class="project project-item-left">
			<div class="project-image-container-left">
				<img class="hidden" src="filler-image.jpg" alt="Temp photo until I have some projects">
			</div>
			<div class="project-text-container-left">
				<div class="project-title">
					Filler Project
					<span class="technologies">
						whatever.js | c++ | python | ummm | idk | something
					</span>
				</div>
				<div class="project-text">
				</div>
				<a class="project-button" href="https:/fizzled.dev" rel="noopener">
					Live Version
				</a>
				<a class="project-button" href="https:/fizzled.dev" rel="noopener">
					Github
				</a>
			</div>
		</div>
	</div>
	</section>
	<footer>
		Developed by Cody, built using <span style="color: #DE541E">Astro</span> and <span style="color: #DE541E"> Svelte.js</span>
	</footer>
</Layout>


<style>
	h1{
		text-align: center; 
		font-size: 50px; 
		position: fixed;
	}
	footer{
		height: 3rem;
		background-color: #CDD7D6;
		text-align: center;
		font-size: 16px;
		color: #102542;
		font-weight: bold;
		
		box-shadow: 0px -5px 10px #9bc2bf;
	}
	#spacer{
		width:200px;
	}
	#about-content{ 
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.profile-svg{
		width: 300px;
		height: auto;
	}
	#profile-content{
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 500px;
	}
	#profile-content.hidden{
		opacity: 0;

		filter: blur(4px);
		transform: translateX(-100%);
		transition: all 1000ms ease-in-out;
	}
	#profile-content.show{
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
	}
	section{
		flex: 1;
		padding: 2rem;
	}
	main{
		margin: auto;
		padding: 0px;
		width: 800px;
		max-width: calc(100%);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h2{
		text-align: center;
		font-size: 50px;
		color: #102542;
		position: relative;
	}
	#about-heading::after{
		content: '';
		position: absolute;
		bottom: 0.2em;
		left: 50%;
		width: 160px;
		height: 0.1em;
		background-color: #DE541E;
		opacity: 0;
		transition: opacity 1500ms, transform 1500ms;
		transform: translateX(-50%);
		border-radius: 10px;
	}
	#about-heading.show::after{
		opacity: 1;
		transform: translate3d(-50%, 0.2em, 0);
		transform-origin: center;
	}
	#home{
		height: 100vh;
		background-color: #9bc2bf;
		box-sizing: border-box;
		position: relative;
		width: 100%;
	}
	#about{
		height: 53rem;
		background-color: #CDD7D6;
		position: relative;
		z-index: 2;
	}
	#about-text{
		color: #102542; 
		font-size: 20px;
		font-weight: bold;
	}
	#projects{
		position: relative;
		z-index: 3;
		background-color: #CDD7D6;
	}
	#project-heading::after{
		content: '';
		position: absolute;
		bottom: 0.2em;
		left: 50%;
		width: 200px;
		height: 0.1em;
		background-color: #DE541E;
		opacity: 0;
		transition: opacity 1500ms, transform 1500ms;
		transform: translateX(-50%);
		border-radius: 10px;
	}
	#project-heading.show::after{
		opacity: 1;
		transform: translate3d(-50%, 0.3em, 0);
		transform-origin: center;
	}
	.project{
		position: relative;
		display: flex;
		margin-bottom: 3rem;
		justify-content: flex-start;
		clear: both;
	}
	.project-item-left{
		display: flex;
		align-self: flex-start;
		margin-left: 1rem;
	}
	.project-item-right{
		float: right;
		margin-right: 1rem;
	}
	.project-image-container-left{
		position: relative;
		height: 550px;
		width: 1000px;
		background-color: #9bc2bf;
		display: flex;
		align-items: center;
		border-radius: 4px;
	}
	.project-image-container-left img{
		margin-left: 25px;
		max-width: 900px;
  		height: auto;
	} 
	.project-image-container-left img.hidden{
		opacity: 0;
		filter: blur(4px);
		transform: translateX(-100%);
		transition: all 1000ms ease-in-out;
	}
	.project-image-container-left img.show{
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
	}
	.project-image-container-right{
		position: relative;
		height: 550px;
		width: 1000px;
		background-color: #9bc2bf;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		border-radius: 4px;
	}
	.project-image-container-right img{
		margin-right: 25px;
		max-width:900px;
  		height: auto;
		float: right;
	}
	.project-image-container-right img.hidden{
		opacity: 0;
		filter: blur(4px);
		transform: translateX(100%);
		transition: all 1000ms ease-in-out;
	}
	.project-image-container-right img.show{
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
	}
	.project-text-container-left{
		height: 550px;
		width: 600px;
		margin-top: 1rem;
		margin-left: 2rem;
		
	}
	.project-text-container-right {
		height: 550px;
		width: 600px;
		margin-top: 1rem;
		margin-right: 2rem;
	}
	.project-title{
		color: #102542;
		font-weight: bold;
		font-size: 40px;
	}
	.technologies{
		color: #d04f1c;
		font-weight: bold;
		font-size: 14px;
	}
	.project-text{
		color: #102542;
		font-weight: bold;
		font-size: 18px;
		margin-top: 10px;
	}
	.project-button{
		background-color: rgb(238, 198, 108);
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 10px;
        font-size: 16px;
        color: #102542;
        font-weight: bold;
        transition: .25s;
		width: 100px;
	}
	.project-button:hover{
        background-color: rgb(202, 167, 86);
        transition: 0.25s;
    }
	.about-container{
        width: 500px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
		font-size: 26px;
		font-weight: bold;
    }
    .about-list{
        display: inline-block;
        text-align: left;
        padding: 0;
		color:#102542;
    }
	.about-list li{
		padding-top: 1.5rem;
	}
	@media (max-width: 1280px){
		#spacer {
			width: 100px;
			height: 0px;
		}
	}
	@media (max-width: 1180px){
		#about {
			height: 60rem;
		}
		#about-content {
			align-items: center;
			flex-direction: column;
		}
		#spacer {
			width: 0px;
			height: 0px;
		}
		.about-container{
			height: 300px;
		}
	}
	@media (max-width: 1700px){
		.project-image-container-left{
			margin-top: .8rem;
			width: 800px;
			height: 440px;
		}
		.project-image-container-right{
			width: 800px;
			height: 440px;
		}
		.project-image-container-right img{
			margin-right: 20px;
			max-width: 720px;
		}
		.project-image-container-left img{
			margin-left: 20px;
			max-width: 720px;
		}
		.project{
			margin-bottom: 2.4rem;
		}
		.project-text-container-left{
			height: 440px;
		}
		.project-text-container-right{
			height: 440px;
		}
	}
	@media (max-width: 1500px){
		.project-image-container-left{
			width: 640px;
			height: 352px;
		}
		.project-image-container-right{
			width: 640px;
			height: 352px;
		}
		.project-image-container-right img{
			margin-right: 16px;
			max-width: 576px;
		}
		.project-image-container-left img{
			margin-left: 16px;
			max-width: 576px;
		}
		.project{
			margin-bottom: 1.92rem;
		}
		.project-text-container-left{
			height: 352px;
		}
		.project-text-container-right{
			height: 352px;
		}
	}
	@media (max-width: 1350px){
		.project-image-container-left{
			width: 512px;
			height: 281px;
		}
		.project-image-container-right{
			width: 512px;
			height: 281px;
		}
		.project-image-container-right img{
			margin-right: 13px;
			max-width: 460px;
		}
		.project-image-container-left img{
			margin-left: 13px;
			max-width: 460px;
		}
		.project-title{
			font-size: 30px;
		}
		.technologies{
			font-size: 14px;
		}
		.project-text{
			font-size: 16px;
			margin-top: 10px;
		}
		.project-button{
    	    padding: 10px 20px;
    	    margin-top: 20px;
    	    font-size: 16px;
			width: 100px;
		}
		.project{
			margin-bottom: 1.536rem;
		}
		.project-text-container-left{
			height: 281px;
		}
		.project-text-container-right{
			height: 281px;
		}
	}
	@media (max-width: 1210px){
		.project-image-container-left{
			width: 410px;
			height: 224px;
		}
		.project-image-container-right{
			width: 410px;
			height: 224px;
		}
		.project-image-container-right img{
			margin-right: 11px;
			max-width: 368px;
		}
		.project-image-container-left img{
			margin-left: 11px;
			max-width: 368px;
		}
		.project-title{
			font-size: 30px;
		}
		.technologies{
			font-size: 12px;
		}
		.project-text{
			font-size: 14px;
			margin-top: 10px;
		}
		.project-button{
    	    padding: 10px 20px;
    	    margin-top: 20px;
    	    font-size: 14px;
			width: 80px;
		}
		.project{
			margin-bottom: 1.2288rem;
		}
		.project-text-container-left{
			height: 224px;
		}
		.project-text-container-right{
			height: 224px;
		}
	}
	@media (max-width: 1110px){
		.project-image-container-left{
			width: 328px;
			height: 179px;
		}
		.project-image-container-right{
			width: 328px;
			height: 179px;
		}
		.project-image-container-right img{
			margin-right: 9px;
			max-width: 294px;
		}
		.project-image-container-left img{
			margin-left: 9px;
			max-width: 294px;
		}
		.project{
			margin-bottom: 0.98304rem;
		}
		.project-text-container-left{
			height: 224px;
		}
		.project-text-container-right{
			height: 224px;
		}
	}
	@media (max-width: 1030px){
		.project-image-container-left{
			width: 262px;
			height: 143px;
		}
		.project-image-container-right{
			width: 262px;
			height: 143px;
		}
		.project-image-container-right img{
			margin-right: 7px;
			max-width: 235px;
		}
		.project-image-container-left img{
			margin-left: 7px;
			max-width: 235px;
		}
		.project{
			margin-bottom: 0.98304rem;
		}
		.project-text-container-left{
			height: 224px;
		}
		.project-text-container-right{
			height: 224px;
		}
	}
	@media (max-width: 960px){
		.project-image-container-left{
			width: 210px;
			height: 114px;
		}
		.project-image-container-right{
			width: 210px;
			height: 114px;
		}
		.project-image-container-right img{
			margin-right: 5px;
			max-width: 188px;
		}
		.project-image-container-left img{
			margin-left: 5px;
			max-width: 188px;
		}
		.project{
			margin-bottom: 0.98304rem;
		}
		.project-text-container-left{
			height: 224px;
		}
		.project-text-container-right{
			height: 224px;
		}
	}
	@media (max-width: 910px){
		.project-image-container-left{
			width: 0px;
			height: 0px;
		}
		.project-image-container-right{
			width: 0px;
			height: 0px;
		}
		.project-image-container-right img{
			margin-right: 0px;
			max-width: 0px;
		}
		.project-image-container-left img{
			margin-left: 0px;
			max-width: 0px;
		}
		.project{
			margin-bottom: 0.98304rem;
		}
		.project-text-container-left{
			height: 224px;
			margin-left: 1rem;
		}
		.project-text-container-right{
			height: 224px;
		}
		.project-item-left {
			margin-left: auto;
       		margin-right: auto;
			float: none;
		}
		.project-item-right {
			margin-left: auto;
        	margin-right: auto;	
			float: none;
		}
		.project-text-container-left,
    	.project-text-container-right {
        	margin-left: auto;
        	margin-right: auto;
		}
	}
	@media (max-width: 660px){
		h1{
			font-size: 30px;
		}
		.project{
			margin-bottom: 0.98304rem;
		}
		.project-text-container-left{
			
			width:  325px;
		}
		.project-text-container-right{
			
			width: 325px;
		}
		.project-text{
			font-size: 12px
		}
		.project-button{
			padding: 8px 16px;
			font-size: 12px;
			margin-top: 10px;
		}
		.technologies{
			font-size: 12px;
			display: block;
		}
		.project-title{
			font-size: 25px;
		}
	}
	@media (max-width: 540px){
		#about-text {
			font-size: 18px;
		}
		#profile-content {
			width: 400px;
		}
		.about-list li{
			font-size: 20px;
    	}
	}
	@media (max-width: 415px){
		#about-text {
			font-size: 16px;
		}
		#profile-content {
			width: 350px;
		}
		.about-list li{
			font-size: 20px;
    	}
	}
</style>

