---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
---

<script>
	const words = ["Software Developer", "CS Student",  "Tech Enthusiast"];
	import { sequence } from "astro:middleware";
	let i = 0;
	let timer;

    function typingEffect() {
		let word = words[i].split("");
		var loopTyping = function() {
		if (word.length > 0) {
			document.getElementById('word').innerHTML += word.shift();
	  		} else {
				setTimeout(() => deletingEffect(), 1500);
		  		return false;
	  		};
		timer = setTimeout(loopTyping, 25);
		};
		loopTyping();
  	};

  	function deletingEffect() {
	  	let word = words[i].split("");
	 	var loopDeleting = function() {
			if (word.length > 0) {
				word.pop();
				document.getElementById('word').innerHTML = word.join("");
		  	} else {
			 	if (words.length > (i + 1)) {
					i++;
			  	} else {
					i = 0;
			  	};
				typingEffect();
				return false;
		  		};
		  	timer = setTimeout(loopDeleting, 25);
	  	};
	  	loopDeleting();
  	};
	typingEffect();



	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			console.log(entry)
			if (entry.isIntersecting) {
				entry.target.classList.add('show');
			} else {
				entry.target.classList.remove('show')
			}
		});
	});

	const hiddenElements = document.querySelectorAll('.hidden');
	hiddenElements.forEach((el) => observer.observe(el))
</script>

<Layout title="Fizzled">
	<Navigation/>
	<section id="home">
		<div style="display:flex; justify-content:center; align-items:center; height:calc(100vh - 6.25rem)">
			<h1 style="text-align: center; font-size: 50px; position: fixed;">
				<div style="color: #102542">
					Hello, I'm Cody.
				</div>
				<div style="color: #102542">
					I'm a&nbsp;<span id="word" style ="color:#DE541E;"></span><span>|</span>
				</div>
			</h1>
		</div>
	</section>
	<section id="about">
		<h2 id="about-heading" class="hidden">
			About
		</h2>
		<div id="about-content">
			<div id="profile-content" class="hidden">
				<svg class="profile-svg" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200">
					<image xlink:href="profile.svg" width="100%" height="100%" />
				</svg>
				<div id="about-text" style="color: #102542; font-size: 20px; font-weight: bold;">
					I'm an aspiring software developer with a love of problem solving. I frequently take on projects that push the boundaries of my knowledge to further develope my abilities as a programmer. My goal with every project I take on is to produce not only an effective product but one that is also enjoyable for the end user, this website included. If I'm not programming, I'm most likely playing videogames, doing school work, or hanging out with my dogs. 
				</div>
			</div>
			<div id="spacer"/>
			<div id="icons">
				<div id="tech-row">
					<div id="tech-box" class="hidden">
						
					</div>
					<div id="tech-box" class="hidden">
						
					</div>
					<div id="tech-box" class="hidden">
						
					</div>
				</div>
				<div id="tech-row">
					<div id="tech-box" class="hidden">
						
					</div>
					<div id="tech-box" class="hidden">
						
					</div>
					<div id="tech-box" class="hidden">
						
					</div>
					<div id="tech-box" class="hidden">
						
					</div>
				</div>
				<div id="tech-row">
					<div id="tech-box" class="hidden">
						
					</div>
					<div id="tech-box" class="hidden">
						
					</div>
					<div id="tech-box" class="hidden">
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="projects">
		<h2 id="project-heading" class="hidden">
			Projects
		</h2>
		<div class="project">
				<div class="project project-item-left">
					<div class="project-image-container-left">
						<img class="hidden" src="filler-image.PNG" alt="Temp photo until I have some projects">
					</div>
					<div class="project-text-container-left">
						<div class="project-title">
							Filler Project
							<span class="technologies">
								whatever.js | c++ | python | ummm | idk | something
							</span>
						</div>
						<div class="project-text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</div>
						<a class="project-button" href="https:/fizzled.dev" target="_blank">
							Live Version
						</a>
						<a class="project-button" href="https:/fizzled.dev" target="_blank">
							Github
						</a>
					</div>
				</div>
			</div>
			<div class="project project-item-right">
				<div class="project-text-container-right">
					<div class="project-title">
						Filler Project
						<span class="technologies">
							whatever.js | c++ | python | ummm | idk | something
						</span>
					</div>
					<div class="project-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
					<a class="project-button" href="https:/fizzled.dev" target="_blank">
						Live Version
					</a>
					<a class="project-button" href="https:/fizzled.dev" target="_blank">
						Github
					</a>
				</div>
				<div class="project-image-container-right">
					<img class="hidden" src="filler-image.PNG" alt="Temp photo until I have some projects">
				</div>
			</div>
		</div>
	</section>
</Layout>


<style>
	#spacer {
		width:200px;
	}
	#tech-box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 100px;
		width: 160px;
		border: double 3px transparent;
		border-image-slice: 1;
		border-width: 4px;
		background-image: linear-gradient(#CDD7D6, #CDD7D6),radial-gradient(circle at bottom right, #102542, #DE541E);
		border-radius: 10px;
		background-clip: content-box, border-box;
		overflow: hidden;
		box-sizing: border-box;
		margin: 10px;
		transition: all 1000ms ease-in;
	}
	#tech-box.hidden {
		opacity: 0;
	}
	#tech-box.show {
		opacity: 1;
	}
	#icons #tech-row:nth-child(1)  #tech-box:nth-child(1) {
		transition-delay: 0s;
	}
	#icons #tech-row:nth-child(1)  #tech-box:nth-child(2) {
		transition-delay: .25s;
	}
	#icons #tech-row:nth-child(1)  #tech-box:nth-child(3) {
		transition-delay: .5s;
	}
	#icons #tech-row:nth-child(2)  #tech-box:nth-child(1) {
		transition-delay: 0s;
	}
	#icons #tech-row:nth-child(2)  #tech-box:nth-child(2) {
		transition-delay: .25s;
	}
	#icons #tech-row:nth-child(2)  #tech-box:nth-child(3) {
		transition-delay: .5s;
	}
	#icons #tech-row:nth-child(2)  #tech-box:nth-child(4) {
		transition-delay: .75s;
	}
	#icons #tech-row:nth-child(3)  #tech-box:nth-child(1) {
		transition-delay: .25s;
	}
	#icons #tech-row:nth-child(3)  #tech-box:nth-child(2) {
		transition-delay: .5s;
	}
	#icons #tech-row:nth-child(3)  #tech-box:nth-child(3) {
		transition-delay: .75s;
	}
	#tech-row {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#icons {
		width: 500px;
		display:  flex;
		justify-content: center;
	}
	#about-content {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.profile-svg {
		
		width: 300px;
		height: auto;
	}
	#profile-content {
		position: relative;
		display: flex;
		width: 100%;
		align-items: center;
		flex-direction: column;
		width: 500px;
	}
	#profile-content.hidden {
		opacity: 0;
		filter: blur(4px);
		transform: translateX(-100%);
		transition: all 1000ms ease-in-out;
	}
	#profile-content.show {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
	}
	section {
		flex: 1;
		padding: 2rem;
	}
	main {
		margin: auto;
		padding: 0px;
		width: 800px;
		max-width: calc(100%);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h2 {
		text-align: center;
		font-size: 50px;
		color: #102542;
		position: relative;
	}
	#about-heading::after {
		content: '';
		position: absolute;
		bottom: 0.2em;
		left: 50%;
		width: 160px;
		height: 0.1em;
		background-color: #DE541E;
		opacity: 0;
		transition: opacity 1500ms, transform 1500ms;
		transform: translateX(-50%);
		border-radius: 10px;
	}
	#about-heading.show::after {
		opacity: 1;
		transform: translate3d(-50%, 0.2em, 0);
		transform-origin: center;
	}
	#home {
		height: 100vh;
		background-color: #7eb1ac;
		box-sizing: border-box;
		position: relative;
		width: 100%;
	}
	#about {
		height: 53rem;
		background-color: #CDD7D6;
		position: relative;
		z-index: 2;
	}
	#projects {
		height: 100rem;
		position: relative;
		z-index: 3;
		background-color: #CDD7D6;
	}
	#project-heading::after {
		content: '';
		position: absolute;
		bottom: 0.2em;
		left: 50%;
		width: 200px;
		height: 0.1em;
		background-color: #DE541E;
		opacity: 0;
		transition: opacity 1500ms, transform 1500ms;
		transform: translateX(-50%);
		border-radius: 10px;
	}
	#project-heading.show::after {
		opacity: 1;
		transform: translate3d(-50%, 0.3em, 0);
		transform-origin: center;
	}
	.project{
		position: relative;
		display: flex;
		margin-bottom: 3rem;
		justify-content: flex-start;
	}
	.project-item-left {
		align-self: flex-start;
		margin-left: 1rem;
	}
	.project-item-right {
		float: right;
		margin-right: 1rem;
	}
	.project-image-container-left{
		position: relative;
		height: 550px;
		width: 1000px;
		background-color: #7eb1ac;
		display: flex;
		align-items: center;
		border-radius: 4px;
	}
	.project-image-container-left img{
		margin-left: 25px;
		max-width: 900px;
  		height: auto;
	}
	.project-image-container-left img.hidden {
		opacity: 0;
		filter: blur(4px);
		transform: translateX(-100%);
		transition: all 1000ms ease-in-out;
	}
	.project-image-container-left img.show {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
	}
	.project-image-container-right{
		position: relative;
		height: 550px;
		width: 1000px;
		background-color: #7eb1ac;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		border-radius: 4px;
	}
	.project-image-container-right img{
		margin-right: 25px;
		max-width:900px;
  		height: auto;
		float: right;
	}
	.project-image-container-right img.hidden {
		opacity: 0;
		filter: blur(4px);
		transform: translateX(100%);
		transition: all 1000ms ease-in-out;
	}
	.project-image-container-right img.show {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
	}
	.project-text-container-left{
		height: 550px;
		width: 600px;
		margin-top: 1rem;
		margin-left: 2rem;
	}
	.project-text-container-right{
		height: 550px;
		width: 600px;
		margin-top: 1rem;
		margin-right: 2rem;
	}
	.project-title{
		color: #102542;
		font-weight: bold;
		font-size: 40px;
	}
	.technologies{
		color: #DE541E;
		font-weight: bold;
		font-size: 14px;
	}
	.project-text{
		color: #102542;
		font-weight: bold;
		font-size: 18px;
		margin-top: 10px;
	}
	.project-button{
		background-color: rgb(238, 198, 108);
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 10px;
        font-size: 16px;
        color: #102542;
        font-weight: bold;
        transition: .25s;
		width: 100px;
	}
	.project-button:hover {
        background-color: rgb(202, 167, 86);
        transition: 0.25s;
    }
	@media (max-width: 1280px) {
		#about {
			height: 85rem;
		}
		#about-content {
			align-items: center;
			flex-direction: column;
		}
		#spacer {
			width: 0px;
			height: 100px;
		}
	}
	@media (max-width: 1700px) {
		.project-image-container-left{
			margin-top: .8rem;
			width: 800px;
			height: 440px;
		}
		.project-image-container-right{
			width: 800px;
			height: 440px;
		}
		.project-image-container-right img{
			margin-right: 20px;
			max-width: 720px;
		}
		.project-image-container-left img{
			margin-left: 20px;
			max-width: 720px;
		}
		.project{
			margin-bottom: 2.4rem;
		}
		.project-text-container-left{
			height: 440px;
		}
		.project-text-container-right{
			height: 440px;
		}
	}
	@media (max-width: 1500px) {
		.project-image-container-left{
			width: 640px;
			height: 352px;
		}
		.project-image-container-right{
			width: 640px;
			height: 352px;
		}
		.project-image-container-right img{
			margin-right: 16px;
			max-width: 576px;
		}
		.project-image-container-left img{
			margin-left: 16px;
			max-width: 576px;
		}
		.project{
			margin-bottom: 1.92rem;
		}
		.project-text-container-left{
			height: 352px;
		}
		.project-text-container-right{
			height: 352px;
		}
	}
	@media (max-width: 1350px) {
		.project-image-container-left{
			width: 512px;
			height: 281px;
		}
		.project-image-container-right{
			width: 512px;
			height: 281px;
		}
		.project-image-container-right img{
			margin-right: 13px;
			max-width: 460px;
		}
		.project-image-container-left img{
			margin-left: 13px;
			max-width: 460px;
		}
		.project-title{
			font-size: 30px;
		}
		.technologies{
			font-size: 14px;
		}
		.project-text{
			font-size: 16px;
			margin-top: 10px;
		}
		.project-button{
    	    padding: 10px 20px;
    	    margin-top: 20px;
    	    font-size: 16px;
			width: 100px;
		}
		.project{
			margin-bottom: 1.536rem;
		}
		.project-text-container-left{
			height: 281px;
		}
		.project-text-container-right{
			height: 281px;
		}
	}
	@media (max-width: 1210px) {
		.project-image-container-left{
			width: 410px;
			height: 224px;
		}
		.project-image-container-right{
			width: 410px;
			height: 224px;
		}
		.project-image-container-right img{
			margin-right: 11px;
			max-width: 368px;
		}
		.project-image-container-left img{
			margin-left: 11px;
			max-width: 368px;
		}
		.project-title{
			font-size: 30px;
		}
		.technologies{
			font-size: 12px;
		}
		.project-text{
			font-size: 14px;
			margin-top: 10px;
		}
		.project-button{
    	    padding: 10px 20px;
    	    margin-top: 20px;
    	    font-size: 14px;
			width: 80px;
		}
		.project{
			margin-bottom: 1.2288rem;
		}
		.project-text-container-left{
			height: 224px;
		}
		.project-text-container-right{
			height: 224px;
		}
	}
	@media (max-width: 1110px) {
		.project-image-container-left{
			width: 328px;
			height: 179px;
		}
		.project-image-container-right{
			width: 328px;
			height: 179px;
		}
		.project-image-container-right img{
			margin-right: 9px;
			max-width: 294px;
		}
		.project-image-container-left img{
			margin-left: 9px;
			max-width: 294px;
		}
		.project{
			margin-bottom: 0.98304rem;
		}
		.project-text-container-left{
			height: 224px;
		}
		.project-text-container-right{
			height: 224px;
		}
	}
	@media (max-width: 1030px) {
		.project-image-container-left{
			width: 262px;
			height: 143px;
		}
		.project-image-container-right{
			width: 262px;
			height: 143px;
		}
		.project-image-container-right img{
			margin-right: 7px;
			max-width: 235px;
		}
		.project-image-container-left img{
			margin-left: 7px;
			max-width: 235px;
		}
		.project{
			margin-bottom: 0.98304rem;
		}
		.project-text-container-left{
			height: 224px;
		}
		.project-text-container-right{
			height: 224px;
		}
	}
	@media (max-width: 960px) {
		.project-image-container-left{
			width: 210px;
			height: 114px;
		}
		.project-image-container-right{
			width: 210px;
			height: 114px;
		}
		.project-image-container-right img{
			margin-right: 5px;
			max-width: 188px;
		}
		.project-image-container-left img{
			margin-left: 5px;
			max-width: 188px;
		}
		.project{
			margin-bottom: 0.98304rem;
		}
		.project-text-container-left{
			height: 224px;
		}
		.project-text-container-right{
			height: 224px;
		}
	}
	@media (max-width: 910px) {
		.project-image-container-left{
			width: 0px;
			height: 0px;
		}
		.project-image-container-right{
			width: 0px;
			height: 0px;
		}
		.project-image-container-right img{
			margin-right: 0px;
			max-width: 0px;
		}
		.project-image-container-left img{
			margin-left: 0px;
			max-width: 0px;
		}
		.project{
			margin-bottom: 0.98304rem;
		}
		.project-text-container-left{
			height: 224px;
		}
		.project-text-container-right{
			height: 224px;
		}
		.project-item-left {
			margin-left: auto;
       		margin-right: auto;
		}
		.project-item-right {
			margin-left: auto;
        	margin-right: auto;	
			float: none;
		}
		.project-text-container-left,
    	.project-text-container-right {
        	margin-left: auto;
        	margin-right: auto;
		}
	}
</style>
